# Build and Release Folders
bin-debug/ Hé lu bae👉👈
bin-release/ có iu a hông thoát là có đóa🤡
[Oo]bj/ dell
[Bb]in/ cóa

# Other files and folders
.settings/ tại sao iu a zọ?

# Executables
*.swf Tại vì a dz
*.air dz
*.ipa dễ thưn
*.ap hog biếc

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
